@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 255 255;
    --color-secondary: 245 245 245;
    --color-secondary-hover: 229 229 229;
    --color-target: 0 123 255;
    --color-text: 17 21 23;
    --color-text-light: 235 236 243;
  }
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 11 11 11;
      --color-secondary: 15 15 15;
      --color-secondary-hover: 30 30 30;
      --color-text: 235 236 243;
    }
  }

  :root[data-theme="light"] {
    --color-primary: 255 255 255;
    --color-secondary: 245 245 245;
    --color-secondary-hover: 229 229 229;
    --color-text: 17 21 23;
  }
  

  :root[data-theme="dark"] {
    --color-primary: 11 11 11;
    --color-secondary: 15 15 15;
    --color-secondary-hover: 30 30 30;
    --color-text: 235 236 243;
  }
}

* {
  border-color: rgb(var(--color-text));
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-text));
}
